<!DOCTYPE html>
<html>
<head>
  <title>FinalProject</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="styles.css" type="text/css" charset="utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Spinnaker' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>
  
	<div id="map-canvas"></div>

  <div class="random-violations">
    <% random = @violations.sample %>
    <h3>Random Violation For Thought: <%= random.violation_description %></h3>
  </div>
</body>
</html>
